Source: trypkg
Section: utils
Priority: optional
Maintainer: nithin <gnknithin@gmail.com>
Version: 0.1
Build-Depends: debhelper (>=9),python3
Standards-Version: 3.9.6
X-Python3-Version: >= 3.2
#Vcs-Git: git://anonscm.debian.org/collab-maint/trypkg.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/trypkg.git
Package: python-trypkg
Architecture: all
Description: This package installs the library for Python 3.
